<div class="product-reasons great_reason">
  
  <p>5 Great reasons to buy from us:</p>
  <ul class="clearfix">
    
      
      
      
      
      <li class="total-5-reasons">
        <img src="//cdn.shopify.com/s/files/1/0266/7123/t/40/assets/topreasons_1_image_150x.png?4290208415689172910" class="ratina-img" alt="Image of Secure Ordering">
        
          <br>Secure Ordering
        
      </li>
      
    
      
      
      
      
      <li class="total-5-reasons">
        <img src="//cdn.shopify.com/s/files/1/0266/7123/t/40/assets/topreasons_2_image_150x.png?4290208415689172910" class="ratina-img" alt="Image of Full Warranty from Authorized Retailer">
        
          <br>Full Warranty from Authorized Retailer
        
      </li>
      
    
      
      
      
      
      <li class="total-5-reasons">
        <img src="//cdn.shopify.com/s/files/1/0266/7123/t/40/assets/topreasons_3_image_150x.png?4290208415689172910" class="ratina-img" alt="Image of 100% Fitment Guaranteed">
        
          <br>100% Fitment Guaranteed
        
      </li>
      
    
      
      
      
      
      <li class="total-5-reasons">
        <img src="//cdn.shopify.com/s/files/1/0266/7123/t/40/assets/topreasons_4_image_150x.png?4290208415689172910" class="ratina-img" alt="Image of Easy Returns">
        
          <br>Easy Returns
        
      </li>
      
    
      
      
      
      
      <li class="total-5-reasons">
        <img src="//cdn.shopify.com/s/files/1/0266/7123/t/40/assets/topreasons_5_image_150x.png?4290208415689172910" class="ratina-img" alt="Image of This Product Passes Our Performance &amp; Quality Tests">
        
          <br>This Product Passes Our Performance &amp; Quality Tests
        
      </li>
      
    
      
      
      
      
    
      
      
      
      
    
  </ul>
</div>