<!--<div class="content-header">
  <h1 class="page-title">{{ page.title }}</h1>
</div>-->
{% section 'installationguides_heading' %}
<div class="reading-container rte">
{% section 'installationguides_icons' %}
{% section 'installationguides_guide_s1' %}
{% section 'installationguides_guide_s2' %}
{% section 'installationguides_guide_s3' %}
{% section 'installationguides_guide_s4' %}
{% section 'installationguides_guide_s5' %}
</div>
{% section 'installationguides_rec' %}